
.detail-container {
    padding: 30px 5px;
    border: 1px solid #88887d;
    box-shadow: 2px 2px 20px black;
    margin-bottom: 30px;
    .side-img{
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    p{
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 770px) {
    .detail-container{
        display: flex;
    }
    .show-img{
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .detail-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        box-shadow: unset;
        border: unset;
    }
    .show-img{
        margin: auto;
    }
}