<div class="main-about">
  <div class="about-body">
      <h3>Show Stoppers</h3>
      <p>
        Show Stoppers is about all the show stopping TV shows that are found
        internationally. Show stoppers gets all its information from <a href="https://themoviedb.org" target="_blank">The Movie Db</a>
        and displays them here to be viewed. Each show is broken down into their seasons and episode to make it easier to find what you are after
      </p>
      <h3>The Stack</h3>
      <p>
        This site uses a number of technologies to make everything possible and talks extensively to The Movie DB API to get all the data here is the list:
      </p>
        <ul>
          <li>
            <a href="https://github.com/anontyro/show-stoppers/tree/master/show-stoppers-lambda" target="_blank">
            The API
            </a> - Hosting on AWS Lambda
          </li>
          <li>
            <a href="https://github.com/anontyro/show-stoppers/tree/master/show-stoppers-spa" target="_blank">
              The Frontend
              </a> - Hosted on my site which is running on Digital Ocean the frontend section is written in
              Angular 6
          </li>
        </ul>

  </div>
</div>