.main-about {
    display: flex;
    justify-content: center;
}
.about-body {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    justify-content: center;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 5px;
    h3{
        color: grey;
        text-align: center;
    }
}

@media only screen and (max-width: 770px) {
    .about-body{
        max-width: 100% !important;
        border: unset;
    }
}