/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body{
    height: 100%;
}

p.sub-title{
    font-size: 1.3em;
    color: grey;
    font-weight: 500;
}

.inline-txt{

}

.inline-link{
    cursor: pointer;
    color: gray;
}
.inline-link:hover{
    color: green;
}

.progress-bar {
    height: 2px;
    width: 100%;
    background: lightgray;
  }
  
  .loaded {
    height: 100%;
    width: 100%;
    background: #444;
    animation: 3s linear infinite loading;
    transform-origin: 0%;
  }
  
  @keyframes loading {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(100%);
    }
  }