<ngb-tabset>
    <ngb-tab title="Episodes">
      <ng-template ngbTabContent>
        <div class="tab-contain">
          <p class="line-break"></p>
          <p>Seasons: <span [ngClass]="{'selected-season': i+1 === currentSeason}" (click)="changeSeason(i+1)" class="season-count" *ngFor="let s of getSeasons(); let i = index">{{i + 1}}</span> </p>
          <app-show-detail-tab-season [season]="getActiveSeason()" *ngIf="!loadingSeason" ></app-show-detail-tab-season>
          <div class="loading-season" *ngIf="loadingSeason">
            <div class="progress-bar">
              <div class="loaded"></div>
           </div>
          </div>
        </div>
 </ng-template>
    </ngb-tab>
    <ngb-tab title="Similar">
        <ng-template ngbTabContent>
          <div class="tab-contain">
            <app-similar-show-tab [similarShows]="similarShows"></app-similar-show-tab>
          </div>
        </ng-template>
      </ngb-tab>

  </ngb-tabset>