<div class="main-layout">
    <div class="layout-header">
        <nav class="navbar navbar-dark bg-dark mb-5">
            <a class="navbar-brand" routerLink='/'>Show Stoppers</a>
            <div class="navbar-expand mr-auto">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink='/search'>Search</a>
                    <a class="nav-item nav-link" routerLink='/about'>About</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="layout-body">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="layout-footer">

</div>
