$bgColor: #44b78b;

.main-layout{
    min-height: 100%;
    .layout-body{
        padding: 20px;
        padding-bottom: 100px;
    }
}

.mb-5, .my-5 {
    margin-bottom: 1em!important;
}

.bg-dark {
    background-color: $bgColor !important;
}

.layout-footer {
    width: 100%;
    height: 100px;
    background-color: $bgColor;
    margin-top: -100px;
    .footer-content{
        .credits{
            text-align: center;
            padding-top: 40px;
            color: white;
        }
    }
}