.search-container {
    display: flex;
    justify-content: center;
}
.search-align-container{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar-item{
    width: 500px;
}
.search-pagination{
    p{
        text-align: center;
        margin-bottom: 5px;
    }
    .pagination-control{
        text-align: center;
        margin-bottom: 20px;
        span{
            padding: 10px;
        }
    }
}


@media only screen and (max-width: 700px) {
    .search-bar-item{
        width: unset;
    }
}