
.search-pagination{
    p{
        text-align: center;
        margin-bottom: 5px;
    }
    .pagination-control{
        text-align: center;
        margin-bottom: 20px;
        span{
            padding: 10px;
        }
    }
}